<section>
    <article>
      <div class="contendor_imagen">
               <img src="/public/assets/bebe.jpg" alt="Imagen_inicio" class="imagen_inicio">
             </div>
             <div class="quienes_somos">
               <h2> ¿Quienes somos?</h2>
               <br>
               <p class="">El Hospital de Niños Ricardo Gutiérrez es un hospital de alta complejidad, terciario o de referencia para todo el país y los países limítrofes. Desde su creación, en 1875, marcó rumbo en el devenir de la Pediatría a nivel nacional y se desarrollaron en su seno todas las especialidades pediátricas. Fue también pionero en la Docencia (primera Residencia en Clínica Pediátrica en 1958) y en la Investigación en Salud.

       Actualmente y como resultado de más de 130 años de historia mantiene su filosofía basada en la atención integral del niño y su familia en una visión abarcadora que excede al niño enfermo y lo ubica en el plano de la sociedad que nos toca transitar.</p>
               <br>
               <h2> Misión</h2>
               <br>
               <p>Ofrecer la mayor complejidad asistencial en la atención de niños y adolescentes constituyéndose en centro referencial de una verdadera red pediátrica, coordinando su actividad y prestaciones con los otros hospitales y centros de atención en un marco integrado y participativo.

       El hospital estará, como siempre, centrado en el paciente y en las necesidades de la comunidad, con un perfil asistencial, de docencia e investigación.</p>
       </div>
    </article>
  </section>
    <section class="articulos_inico">
      <article >
      <h2>El Hospital</h2>
        <p>Este centro de salud tiene un programa de residencias de primer nivel en el pais. Se ofrecen oportunidades de práctica intensiva y supervisada en ámbitos profesionales y por la misma - por supuesto - se recibe un salario mensual, acorde a lo que la regulación médica profesional lo indica en cada momento.</p>
        <button type="button" name="button" class="mas_info" value="Mas info">Más info</button>
      </article>
      <article >
        <h2>Guardia</h2>
        <p>Hospital Dr. Ricardo Gutierrez de La Plata dispone de un sofisticado servicio de guardias médicas las 24 horas para la atención de distintas urgencias. La administración de la institución hace viable una eficiente separación de los pacientes según el nivel de seriedad y tipo de patología.</p>
        <button type="button" name="button" class="mas_info" value="Mas info">Más info</button>
      </article>
      <article >
        <h2>Especialidades</h2>
        <p>Acorde a una respetable trayectoria en materia de medicina y salud, en Hospital Dr. Ricardo GUtierrez de La Plata podemos encontrar profesionales de las principales especialidades de salud. Del mismo modo, se brinda atención programada y de urgencias, se realizan estudios médicos y se brinda soporte en muchas de las ramas comunes de la medicina moderna.</p>
        <button type="button" name="button" class="mas_info" value="Mas info">Más info</button>
      </article>
    </section>